4) Apply,  Map,  Applymap,  Replace

In [75]:
import pandas as pd

In [76]:
# ******* Dataframe ******* #

Details={
    "Name"    :["Sinchan","Doraemon","Tom","Jerry"],
    "Channel" :["hungama","Disney","CN","CN"],
    "Email"  :["chan@gmail.com","doraemon@gmail.com","tom@gmail.com","jerry@gmail.com"]
}

In [77]:
df = pd.DataFrame(Details)

(i) apply() 

-->used to apply a function along an axis of the DataFrame or on Series. 

--> It is quite versatile

In [78]:
len(df)

4

In [79]:
df.apply(len)

Name       4
Channel    4
Email      4
dtype: int64

In [80]:
df['Channel'].apply(len)

0    7
1    6
2    2
3    2
Name: Channel, dtype: int64

In [81]:
df.apply(len,axis='rows')

Name       4
Channel    4
Email      4
dtype: int64

In [82]:
df.apply(len,axis='columns')

0    3
1    3
2    3
3    3
dtype: int64

In [83]:
def Update_email (Email) :
    return Email.upper()

In [84]:
df['Email'].apply(Update_email)

0        CHAN@GMAIL.COM
1    DORAEMON@GMAIL.COM
2         TOM@GMAIL.COM
3       JERRY@GMAIL.COM
Name: Email, dtype: object

In [85]:
df

       Name  Channel               Email
0   Sinchan  hungama      chan@gmail.com
1  Doraemon   Disney  doraemon@gmail.com
2       Tom       CN       tom@gmail.com
3     Jerry       CN     jerry@gmail.com

In [86]:

df['Email'] = df['Email'].apply(Update_email)

In [87]:
df

       Name  Channel               Email
0   Sinchan  hungama      CHAN@GMAIL.COM
1  Doraemon   Disney  DORAEMON@GMAIL.COM
2       Tom       CN       TOM@GMAIL.COM
3     Jerry       CN     JERRY@GMAIL.COM

In [88]:
df.apply(pd.Series.min) #alphabetical order in each column

Name             Doraemon
Channel                CN
Email      CHAN@GMAIL.COM
dtype: object

In [89]:
df.apply(lambda x: x.min())

Name             Doraemon
Channel                CN
Email      CHAN@GMAIL.COM
dtype: object

(ii) applymap() 

--> It is used to apply a function element-wise to all elements of a DataFrame.

In [90]:
df.applymap(len)

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_12480\1485728669.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df.applymap(len)

   Name  Channel  Email
0     7        7     14
1     8        6     18
2     3        2     13
3     5        2     15

In [91]:
df.applymap(str.lower)

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_12480\357608748.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df.applymap(str.lower)

       Name  Channel               Email
0   sinchan  hungama      chan@gmail.com
1  doraemon   disney  doraemon@gmail.com
2       tom       cn       tom@gmail.com
3     jerry       cn     jerry@gmail.com

In [92]:
df

       Name  Channel               Email
0   Sinchan  hungama      CHAN@GMAIL.COM
1  Doraemon   Disney  DORAEMON@GMAIL.COM
2       Tom       CN       TOM@GMAIL.COM
3     Jerry       CN     JERRY@GMAIL.COM

(iii) map() 

--> It is primarily used with a Series (a single column of a DataFrame) to map values

In [93]:
df['Name']=df['Name'].map({'Sinchan':'Nohara-Family','Doraemon':'Nobita'})
df

            Name  Channel               Email
0  Nohara-Family  hungama      CHAN@GMAIL.COM
1         Nobita   Disney  DORAEMON@GMAIL.COM
2            NaN       CN       TOM@GMAIL.COM
3            NaN       CN     JERRY@GMAIL.COM

(iv) replace() 

-->  is used to replace values in a DataFrame or Series based on specified conditions.

In [95]:
df['Name']=df['Name'].replace({'NaN':'Tom&jerry','Nohara-Family':'Shinchan'})
df

       Name  Channel               Email
0  Shinchan  hungama      CHAN@GMAIL.COM
1    Nobita   Disney  DORAEMON@GMAIL.COM
2       NaN       CN       TOM@GMAIL.COM
3       NaN       CN     JERRY@GMAIL.COM

In [97]:
df['Name']=df['Name'].replace({(df.iloc[2,0]):'Tom&jerry'})
df

        Name  Channel               Email
0   Shinchan  hungama      CHAN@GMAIL.COM
1     Nobita   Disney  DORAEMON@GMAIL.COM
2  Tom&jerry       CN       TOM@GMAIL.COM
3  Tom&jerry       CN     JERRY@GMAIL.COM