3.Filters

In [212]:
import pandas as pd

In [213]:
# ******* Dataframe ******* #

Details={
    "Name"    :["Sinchan","Doraemon","Tom","Jerry"],
    "Channel" :["hungama","Disney","CN","CN"],
    "E-mail"  :["chan@gmail.com","doraemon@gmail.com","tom@gmail.com","jerry@gmail.com"]
}

In [214]:
df = pd.DataFrame(Details)

In [215]:
df

       Name  Channel              E-mail
0   Sinchan  hungama      chan@gmail.com
1  Doraemon   Disney  doraemon@gmail.com
2       Tom       CN       tom@gmail.com
3     Jerry       CN     jerry@gmail.com

In [216]:
df['Channel']=='CN'

0    False
1    False
2     True
3     True
Name: Channel, dtype: bool

In [217]:
filt = (df['Channel']=='CN')
df[filt]

    Name Channel           E-mail
2    Tom      CN    tom@gmail.com
3  Jerry      CN  jerry@gmail.com

In [218]:
# ******* loc: Uses label-based indexing to select data. ******* #

df.loc[filt]

    Name Channel           E-mail
2    Tom      CN    tom@gmail.com
3  Jerry      CN  jerry@gmail.com

In [219]:
df.loc[filt,'E-mail']

2      tom@gmail.com
3    jerry@gmail.com
Name: E-mail, dtype: object

In [220]:
# ******* if AND(&) is used, both statements have to be true. ******* #

filt_1 = (df['Channel']=='CN') & (df['Name']=='Tom')
filt_1

0    False
1    False
2     True
3    False
dtype: bool

In [221]:
df[filt_1]

  Name Channel         E-mail
2  Tom      CN  tom@gmail.com

In [222]:
# ******* if OR(|) is used, atleast one statement has to be true. ******* #

filt_2 = (df['Channel']=='CN') | (df['Name']=='Sinchan')
filt_2

0     True
1    False
2     True
3     True
dtype: bool

In [223]:
df[filt_2]

      Name  Channel           E-mail
0  Sinchan  hungama   chan@gmail.com
2      Tom       CN    tom@gmail.com
3    Jerry       CN  jerry@gmail.com

In [224]:
df[-filt_2]

       Name Channel              E-mail
1  Doraemon  Disney  doraemon@gmail.com

In [225]:
df.columns

Index(['Name', 'Channel', 'E-mail'], dtype='object')

In [226]:
df.columns = ['Characters','Channels','Gmail']
df.columns

Index(['Characters', 'Channels', 'Gmail'], dtype='object')

In [227]:
df

  Characters Channels               Gmail
0    Sinchan  hungama      chan@gmail.com
1   Doraemon   Disney  doraemon@gmail.com
2        Tom       CN       tom@gmail.com
3      Jerry       CN     jerry@gmail.com

In [228]:
df.columns = [x.upper() for x in df.columns]
df.columns

Index(['CHARACTERS', 'CHANNELS', 'GMAIL'], dtype='object')

In [229]:
df

  CHARACTERS CHANNELS               GMAIL
0    Sinchan  hungama      chan@gmail.com
1   Doraemon   Disney  doraemon@gmail.com
2        Tom       CN       tom@gmail.com
3      Jerry       CN     jerry@gmail.com

In [230]:
df.columns = [x.lower() for x in df.columns]
df.columns

Index(['characters', 'channels', 'gmail'], dtype='object')

In [231]:
df

  characters channels               gmail
0    Sinchan  hungama      chan@gmail.com
1   Doraemon   Disney  doraemon@gmail.com
2        Tom       CN       tom@gmail.com
3      Jerry       CN     jerry@gmail.com

In [232]:
df.rename(columns={'characters':'Cartoons','gmail':'E-mail'},inplace=True)

In [233]:
df.columns

Index(['Cartoons', 'channels', 'E-mail'], dtype='object')

In [234]:
df

   Cartoons channels              E-mail
0   Sinchan  hungama      chan@gmail.com
1  Doraemon   Disney  doraemon@gmail.com
2       Tom       CN       tom@gmail.com
3     Jerry       CN     jerry@gmail.com

In [235]:
df.loc[3]

Cartoons              Jerry
channels                 CN
E-mail      jerry@gmail.com
Name: 3, dtype: object

In [236]:
df.loc[3] = ['Nobita','Disney','nobita@gmail.com']

In [237]:
df.loc[3]

Cartoons              Nobita
channels              Disney
E-mail      nobita@gmail.com
Name: 3, dtype: object

In [238]:
df

   Cartoons channels              E-mail
0   Sinchan  hungama      chan@gmail.com
1  Doraemon   Disney  doraemon@gmail.com
2       Tom       CN       tom@gmail.com
3    Nobita   Disney    nobita@gmail.com

In [239]:
df.iloc[2,0] = 'Tom&Jerry'

In [240]:
df

    Cartoons channels              E-mail
0    Sinchan  hungama      chan@gmail.com
1   Doraemon   Disney  doraemon@gmail.com
2  Tom&Jerry       CN       tom@gmail.com
3     Nobita   Disney    nobita@gmail.com

In [241]:
df.loc[2,'channels']='Cartoon_Net'
df

    Cartoons     channels              E-mail
0    Sinchan      hungama      chan@gmail.com
1   Doraemon       Disney  doraemon@gmail.com
2  Tom&Jerry  Cartoon_Net       tom@gmail.com
3     Nobita       Disney    nobita@gmail.com

In [242]:
df.at[0,'channels']='Hungama_HD'
df

    Cartoons     channels              E-mail
0    Sinchan   Hungama_HD      chan@gmail.com
1   Doraemon       Disney  doraemon@gmail.com
2  Tom&Jerry  Cartoon_Net       tom@gmail.com
3     Nobita       Disney    nobita@gmail.com

In [243]:
df['E-mail'] = [a.upper() for a in df['E-mail']]
df

    Cartoons     channels              E-mail
0    Sinchan   Hungama_HD      CHAN@GMAIL.COM
1   Doraemon       Disney  DORAEMON@GMAIL.COM
2  Tom&Jerry  Cartoon_Net       TOM@GMAIL.COM
3     Nobita       Disney    NOBITA@GMAIL.COM

In [244]:
df['E-mail'] = df['E-mail'].str.lower()
df

    Cartoons     channels              E-mail
0    Sinchan   Hungama_HD      chan@gmail.com
1   Doraemon       Disney  doraemon@gmail.com
2  Tom&Jerry  Cartoon_Net       tom@gmail.com
3     Nobita       Disney    nobita@gmail.com