2.Indexes

In [73]:
import pandas as pd

In [74]:
# ******* creating a own dataframe ******* #

Details={
    "Name"    :["Sinchan","Doraemon","Tom","Jerry"],
    "Channel" :["hungama","Distney","CN","CN"],
    "E-mail"  :["chan@gmail.com","doraemon@gmail.com","tom@gmail.com","jerry@gmail.com"]
}

In [75]:
Details['Channel']

# *** Displays list *** #

['hungama', 'Distney', 'CN', 'CN']

In [76]:
df = pd.DataFrame(Details)

In [77]:
df

       Name  Channel              E-mail
0   Sinchan  hungama      chan@gmail.com
1  Doraemon  Distney  doraemon@gmail.com
2       Tom       CN       tom@gmail.com
3     Jerry       CN     jerry@gmail.com

In [78]:
df['Channel']

# *** Display in form of Data frame *** #

0    hungama
1    Distney
2         CN
3         CN
Name: Channel, dtype: object

In [79]:
# *** Count method *** #

df.count('rows')

Name       4
Channel    4
E-mail     4
dtype: int64

In [80]:
df.count('columns')

0    3
1    3
2    3
3    3
dtype: int64

In [81]:
# ******* Type() function is used to determine the type of an object ******* #

type(df['Channel'])

pandas.core.series.Series

In [82]:
# ******* To display the slected columns ******* #

df[['Channel','E-mail']]

   Channel              E-mail
0  hungama      chan@gmail.com
1  Distney  doraemon@gmail.com
2       CN       tom@gmail.com
3       CN     jerry@gmail.com

In [83]:
# *** To display columns *** #

df.columns

Index(['Name', 'Channel', 'E-mail'], dtype='object')

In [84]:
# *** The iloc[] indexer in pandas is used for integer-location based indexing and selection by position *** #

df.iloc[0]

Name              Sinchan
Channel           hungama
E-mail     chan@gmail.com
Name: 0, dtype: object

In [85]:
df.iloc[0,1]

'hungama'

In [86]:
df.iloc[[0,1]]

       Name  Channel              E-mail
0   Sinchan  hungama      chan@gmail.com
1  Doraemon  Distney  doraemon@gmail.com

In [87]:
df.iloc[[0,1],0]

0     Sinchan
1    Doraemon
Name: Name, dtype: object

In [88]:
df.iloc[[0,1],[0,1]]

       Name  Channel
0   Sinchan  hungama
1  Doraemon  Distney

In [89]:
# *** The loc[] indexer in pandas is used for label-based indexing and selection *** #

df.loc[0]

Name              Sinchan
Channel           hungama
E-mail     chan@gmail.com
Name: 0, dtype: object

In [90]:
df.loc[0,'Channel']

'hungama'

In [91]:
df.loc[[0,1]]

       Name  Channel              E-mail
0   Sinchan  hungama      chan@gmail.com
1  Doraemon  Distney  doraemon@gmail.com

In [92]:
df.loc[[0,1],'Name']

0     Sinchan
1    Doraemon
Name: Name, dtype: object

In [93]:
df.loc[[0,1],['Name','Channel']]

       Name  Channel
0   Sinchan  hungama
1  Doraemon  Distney

In [94]:
# *** Index and its commands *** #

df.index

RangeIndex(start=0, stop=4, step=1)

In [95]:
# *** The set_index() method in pandas is used to set one or more columns of a DataFrame as its index *** #

df.set_index('Name')

          Channel              E-mail
Name
Sinchan   hungama      chan@gmail.com
Doraemon  Distney  doraemon@gmail.com
Tom            CN       tom@gmail.com
Jerry          CN     jerry@gmail.com

In [96]:
# *** Still the index is not fixed so reamins same *** #

df.index

RangeIndex(start=0, stop=4, step=1)

In [97]:
# *** (inplace = True) is help to fix teh changes *** # 

df.set_index('Name',inplace=True)

In [98]:
df.index

Index(['Sinchan', 'Doraemon', 'Tom', 'Jerry'], dtype='object', name='Name')

In [99]:
df

          Channel              E-mail
Name
Sinchan   hungama      chan@gmail.com
Doraemon  Distney  doraemon@gmail.com
Tom            CN       tom@gmail.com
Jerry          CN     jerry@gmail.com

In [100]:
df.iloc[0]

Channel           hungama
E-mail     chan@gmail.com
Name: Sinchan, dtype: object

In [101]:
# *** Since the index has been replaced with the 'Name' column, you need to specify the name from the 'Name' column to display a particular row. *** #
df.loc['Sinchan']

Channel           hungama
E-mail     chan@gmail.com
Name: Sinchan, dtype: object

In [102]:
df.loc['Sinchan','Channel']

'hungama'

In [103]:
# *** reset the index using the function reset_index *** #

df.reset_index(inplace=True)

In [104]:
df

       Name  Channel              E-mail
0   Sinchan  hungama      chan@gmail.com
1  Doraemon  Distney  doraemon@gmail.com
2       Tom       CN       tom@gmail.com
3     Jerry       CN     jerry@gmail.com